@CHARSET "UTF-8";

th{
	border:silver 1px solid;
	background-color:yellow;	
}

table{
	border: silver 1px solid;
	border-collapse: collapse; 
}

td{
	border:silver 1px solid;
	text-align: center;
}

tr:nth-child(odd) {
    background-color:#f2f2f2;
}

tr:nth-child(even) {
    background-color:#fbfbfb;
}